
/* Style général de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #cbb2b2;
  margin: 0;
  padding: 20px;
}

/* Titre principal */
.titre {
  color: #2c3e50;
  text-align: center;
}

/* Classe magasin */
.magasin {
  margin-bottom: 20px;
}

/* Description du magasin */
.description {
  text-align: center;
  font-size: 16px;
}

/* Bloc produit */
.produit {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  width: 200px;
}

/* Nom du produit */
.nom-produit {
  font-weight: bold;
}

/* Prix */
.prix {
  color: rgb(128, 0, 0);
}

.haut{
align-items: center;
font-size: 20px;
color: black;
text-decoration: none;
gap: 20px;
}

.image{
width: 350px;
height: 300px;
display: flex;
gap: 20px;
}
.titre{
    font-size: 50px;
}

header{
    display: flex;
    justify-content: space-between;
}
.fin{
    display: flex;
    justify-content: space-between;
}

.titre2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

