.haut{
align-items: center;
font-size: 20px;
color: black;
text-decoration: none;
gap: 20px;
}

.image{
width: 350px;
height: 300px;
display: flex;
gap: 20px;
}
.titre{
    font-size: 50px;
}
body{
    background-color: #cbb2b2;
}
header{
    display: flex;
    justify-content: space-between;
}
.fin{
    display: flex;
    justify-content: space-between;
}

.titre2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}